.Technology-main{
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-self: center;
    .DataSecure-container{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-self: center;
    }
}