.Technology-main{
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-self: center;
    margin: 50px auto;
    padding-top: 80px;
    .DataSecure-container{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-self: center;
    }
}