.ekai-intro-main-cont {
  position: relative;

  .ekai-intro-cont {
    padding-top: 5rem;
    padding-bottom: 5.75rem;
    gap: 2.07%;
    max-width: 1150px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column !important;

    .left-cont {
      
      width: 80vw;
      .left-cont-heading {
        color: #343932;
        font-size: 70px;
        font-weight: 500;
        // line-height: 109.28px;
        margin-top: 1rem;
        width: 100%;


        .left-cont-span-out {
          display: flex;
          justify-content: start;
          gap: 20px;
          align-items: center;
          // width: 80vw;

          .word-animation {
            display: flex;
            justify-content: center;
            align-items: center;
          }

          .animated-word {
            font-size: 70px;
            font-weight: bold;
            animation: fadeInOut 2s ease-in-out infinite;
            color: #333;
            /* Text color */
            background: linear-gradient(90.24deg, #cadbc981 -113.26%, #d29f517d -44.99%, #d3cf9985 -1.12%, #dbc26979 42.31%, #c8793977 101.9%);
            font-weight: 800;
            padding: 10px;
            border-radius: 10px;
            white-space: nowrap;
            /* Prevent text wrapping */
            display: inline-block;
            /* Ensures the width adapts correctly */
          }

          @keyframes fadeInOut {

            0%,
            100% {
              opacity: 0;
              /* Fade out effect */
              // transform: scaleX(0); /* Scale down to zero horizontally */
            }

            50% {
              opacity: 1;
              /* Full opacity when expanding */
              // transform: scaleX(1); /* Scale up to fit the content */
            }
          }



        }



        .rep-text {
          background: linear-gradient(90.24deg, #CADBC9 -113.26%, #D29E51 -44.99%, #D3CF99 -1.12%, #DBC269 42.31%, #C87A39 101.9%);
          font-weight: 500;
          border-radius: 30px;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }

      }

      p {
        font-size: 18px;
        letter-spacing: -.3px;
        color: rgba(87, 87, 87, 1);
        ;

      }
    }

    .right-cont {
      width: 100%;
    }

    @media (max-width:500px) {
      align-items: center !important;
      text-align: center !important;
    }

  }


  @media screen and (max-width: 700px) {
    .ekai-intro-cont {
      width: 90%;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .left-cont-heading {
      margin-top: 0rem !important;
    }

    .right-cont {
      // width: 94%;
      // height: 265px;
    }
  }

  @media screen and (min-width: 700px) {
    .ekai-intro-cont {
      width: auto;
    }
  }

  .app-name {
    color: #141613;
    font-size: 2.375rem;
    font-weight: 800;
    line-height: normal;
  }

  .logo-container {
    gap: 0.75rem;
  }

  .left-cont-heading {
    color: #000;
    font-size: 2.0025rem;
    font-weight: 700;
    line-height: normal;
    margin-top: 0rem;
    margin-bottom: 0rem;

    .left-cont-span-out {

      .rep {
        margin-bottom: -5rem !important;
      }

    }


    .rep-text {
      margin-bottom: 1rem;
    }

  }

  .left-cont-subheading {
    color: #575757;
    margin-top: 2rem;
    font-size: 1.05rem;
    line-height: normal;
    letter-spacing: 1px;
    margin-bottom: 4.5rem;
  }

  .left-cont-button {
    border: none;
    background: rgba(32, 19, 53, 1);
    border-radius: 2.5rem;
    color: #ffffff;
    padding: 0.75rem 1.5rem;
    font-size: 0.9375rem;
    line-height: 1.625rem;
    letter-spacing: 0.46px;
    text-transform: uppercase;
    cursor: pointer;

    @media (max-width: 700px) {
      box-shadow: 1px 0px 20px #ffe1a4;

    }
  }


  @media screen and (min-width: 880px) {
    .right-cont {
      display: flex;
      // width: 54%;
      flex-direction: column;
    }

    .left-cont {
      width: 43.77%;
    }

    .left-cont-heading {
      font-size: 2.8025rem;
    }

    .left-cont-subheading {
      max-width: 25.5rem;
    }

    .right-cont img {
      width: 100%;
      height: 100%;
    }
  }

  @media screen and (max-width: 880px) {
    .left-cont-heading {
      font-size: 3.1025rem;
      margin-top: 0px;

    }
  }

  @media screen and (min-width: 1240px) {
    .ekai-intro-cont {
      margin: auto;
      flex-direction: row;
    }
  }
}

/* Large Image Container */
.large-image-container {
  position: relative;

  .video-box {
    margin: auto;
    overflow: hidden;
    margin-top: 50px;
    width: 95%;
    height: 620px;
    // background: #FAF6EF;
    border-radius: 32px;
    display: flex;
    align-items: center;
    justify-content: center;


    .play-icon {
      width: 76px;
      height: 76px;
      cursor: pointer;
    }

    cursor: pointer;

    .thumbnail {
      overflow: hidden;
      position: absolute;
      border-radius: 32px !important;
      // height: 320px;
      height: 620px;
      width: 95%;
      object-fit: cover;
      z-index: -10;
    }

    @media screen and (max-width: 1200px) {
      .thumbnail {
        // display: none;
        height: 300px;
        width: 86%;
        object-fit: contain;
        background: #FAF6EF;

        img {
          // display: none;
          height: 300px;
          width: 90%;
          object-fit: contain;
        }

      }
    }

    @media screen and (max-width: 1200px) {
      // background: #FAF6EF;
    }

  }

  .large-image {
    width: 100%;
    height: 100%;
  }

  .animation-container {
    position: absolute;
    top: 6px;
    left: 72.5%;
    width: 25%;
    height: 38%;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .image {
    position: absolute;
    animation-duration: 6s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
  }

  .first {
    animation-name: animateFirstImage;
  }

  .second {
    animation-name: animateSecondImage;
    width: 141px !important;
    height: 144px !important;
  }

  @keyframes animateFirstImage {
    0% {
      transform: translateY(200%);
      opacity: 0;
    }

    16.67% {
      transform: translateY(0);
      opacity: 1;
    }

    66.67% {
      transform: translateY(0);
      opacity: 1;
    }

    100% {
      transform: translateY(200%);
      opacity: 0;
    }
  }

  @keyframes animateSecondImage {
    0% {
      transform: translateY(200%);
      opacity: 0;
    }

    16.67% {
      transform: translateY(0);
      opacity: 1;
    }

    66.67% {
      transform: translateY(0);
      opacity: 1;
    }

    100% {
      transform: translateY(200%);
      opacity: 0;
    }
  }
}

.blurR{
  position: absolute;
  right: 0px;
  top: 20px;
  z-index: -10;
  filter: blur(50px);
}

.blurL{
  position: absolute;
  left: -240px;
  top: 350px;
  z-index: -10;
  filter: blur(50px);
}
