.main-nav {
  background: #FAF6EF;
  user-select: none;

  nav {
    margin: auto;
    max-width: 1230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 95px;
    padding: 20px;

    .nav-links-close {
      display: none;
    }

    .logo-container {
      font-size: 28.83px;
      font-weight: 800;
      color: #141613;
      word-spacing: -10px;
      letter-spacing: -1px;
      display: flex;
      align-items: center;
      gap: 5px;

      a {
        text-decoration: none;
      }
    }

    .nav-links {
      display: flex;
      align-items: center;
      gap: 30px;


      a {
        text-decoration: none;
        color: #141613;
      }

      button {
        background: #C87C3C;
        border: none;
        outline: none;
        padding: 15px 28px;
        color: #fff;
        border-radius: 50px;
        cursor: pointer;
      }
    }

    .nav-links-active {
      display: flex;
      align-items: center;
      gap: 30px;


      a {
        text-decoration: none;
        color: #141613;
      }
      
      button {
        background: #C87C3C;
        border: none;
        outline: none;
        padding: 15px 28px;
        color: #fff;
        border-radius: 50px;
        cursor: pointer;
      }
    }

    .menu-container {
      display: none;
    }
  }
}

@media (max-width: 1024px) {
  .main-nav nav {
    max-width: 100%;
    padding: 20px;
  }

  .main-nav .logo-container {
    font-size: 24px;
  }

  .main-nav .nav-links {
    gap: 20px;

    button {
      padding: 12px 24px;
    }
  }
}

@media (max-width: 768px) {
  .main-nav nav {
    height: auto;
    padding: 20px;
  }



  .main-nav .menu-container {
    display: block !important;
    // margin-bottom: 15px;
  }

  .main-nav .nav-links {
    top: 20px;
    /* End position */
    flex-direction: column;
    justify-content: start;
    align-items: flex-start !important;
    gap: 15px;
    position: absolute;
    left: 0;
    top: 90px;
    /* Start position */
    background: #fff;
    width: 100vw;
    height: 40vh;
    padding: 40px 0 0 20px;
    transition: top .5s ease;
    a {
      text-decoration: none;
      color: #141613;
    }

    button {
      background: #C87C3C;
      border: none;
      outline: none;
      padding: 15px 28px;
      color: #fff;
      border-radius: 50px;
      cursor: pointer;
    }
    // box-shadow: 2px 0px 0px #000;
  }

  /* Add a class to trigger the change */
  .main-nav .nav-links-active {
    flex-direction: column;
    justify-content: start;
    align-items: flex-start !important;
    gap: 15px;
    position: absolute;
    left: 0;
    top: -300px;
    /* Start position */
    background: #fff;
    width: 100vw;
    opacity: 20%;
    z-index: -10;
    height: 25%;
    padding: 40px 0 0 20px;
    transition: top 0.8s ease;
    a {
      text-decoration: none;
      color: #141613;
    }

    button {
      background: #C87C3C;
      border: none;
      outline: none;
      padding: 15px 28px;
      color: #fff;
      border-radius: 50px;
      cursor: pointer;
    }
    /* Transition effect */
  }
}

@media (max-width: 480px) {
  .main-nav .logo-container {
    font-size: 20px;
  }

  .main-nav .nav-links {
    gap: 10px;

    button {
      padding: 10px 20px;
    }
  }
}

