.ActionVedio-wrapper {
  display: flex;
  justify-content: center;
  background-color: #faf6ef;
  flex-direction: column;
  align-items: center;
}

.ActionVedio-Container {
  max-width: 72.5rem;
  width: 100%;
  height: 46.5rem;
  background-color: #ffffff;
  border-radius: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0 0 2.5rem;
}

.ActionVedio-wrapper h4 {
  color: #7b4a23;
  font-size: 1.9375rem;
  font-weight: 600;
  line-height: normal;
  margin: 2.5rem 0 3.5rem;
}
.vedioPlay-circle {
  position: relative;
}
.VideoPlay-icon {
  position: absolute;
  /* left: 35.125rem; */
  top: 21.875rem;
}
