.action-vedio-wrapper {
  display: flex;
  justify-content: center;
  background-color: #faf6ef;
  flex-direction: column;
  align-items: center;
  padding: 0 1rem;
}

.action-vedio-wrapper h4 {
  color: #7b4a23;
  font-weight: 600;
  line-height: normal;
  font-size: 1.5rem;
  margin: 32px 0 2.5rem;
}

.video-container {
  max-width: 72.25rem;
  margin-bottom: 2.5rem;
  max-height: 40.625rem;
}

.video-container video {
  width: 100%;
  height: 100%;
}

.action-vedio-container {
  max-width: 72.25rem;
  width: 100%;
  background-color: #ffffff;
  border-radius: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 2.5rem;
  height: 250px;
}

.vedioPlay-circle {
  position: relative;
  width: 4.5rem;
  height: 4.5rem;
}

.VideoPlay-icon {
  position: absolute;
  top: 7rem;
  width: 1.25rem;
  height: 1.5rem;
}

@media screen and (min-width: 500px) {
  .action-vedio-container {
    height: 450px;
  }

  .ActionVedio-wrapper h4 {
    font-size: 1.9375rem;
    margin: 2.5rem 0 3.5rem;
  }

  .vedioPlay-circle {
    width: 7.5rem;
    height: 7.5rem;
  }
  .VideoPlay-icon {
    top: 12.75rem;
    width: 2.25rem;
    height: 2.5rem;
  }
}

@media screen and (min-width: 900px) {
  .action-vedio-container {
    height: 40.625rem;
  }

  .vedioPlay-circle {
    width: 7.5rem;
    height: 7.5rem;
  }
  .VideoPlay-icon {
    top: 19rem;
    width: 2.25rem;
    height: 2.5rem;
  }
}

@media screen and (min-width: 426px) {
  .action-vedio-wrapper {
    padding: 0 2rem;
  }
}

@media screen and (min-width: 1240px) {
  .action-vedio-wrapper {
    padding: 0;
  }
}
