.outmission {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 50px 0;
  margin: 40px 0;
  font-size: 2rem; /* Adjust font size for better scalability */
  text-align: center;
  font-weight: 600;
  color: rgb(55, 55, 55);
}

/* Responsive styles for h1 */
.outmission h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 28px; /* Adjust font size */
  font-weight: 700; /* Corrected weight value */
}

/* Responsive styles for p */
.outmission p {
  text-align: center;
  line-height: 1.6; /* Adjusted line-height for better readability */
  color: #575757;
}

/* Responsive styles for .animated-word */
.outmission .animated-word {
  font-size: 40px; /* Adjust font size */
  font-weight: 900;
  color: #333;
  background: linear-gradient(
    90.24deg,
    #cadbc9b5 -113.26%,
    #d29f51b3 -44.99%,
    #d3cf99b9 -1.12%,
    #dbc269b9 42.31%,
    #c87939b3 101.9%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 5px;
  border-radius: 10px;
  white-space: nowrap;
  display: inline-block;
}

/* Media queries for responsiveness */
@media (max-width: 1200px) {
  .outmission {
    font-size: 1.5rem;
  }

  .outmission h1 {
    font-size: 1rem;
  }

  .outmission .animated-word {
    font-size: 1.5rem;
  }
}

@media (max-width: 900px) {
  .outmission {
    font-size: 1.25rem;
  }

  .outmission h1 {
    font-size: 0.875rem;
  }

  .outmission .animated-word {
    font-size: 1.25rem;
  }
}

@media (max-width: 600px) {
  .outmission {
    font-size: 2rem;
    padding: 30px 0;
    margin: 20px 0;
  }

  .outmission h1 {
    font-size: 1.4rem;
  }

  .outmission .animated-word {
    font-size: 3rem;
  }
}
