.integration {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;

  .top-icons,
  .main-icon,
  .output {
    opacity: 0;
    transition: opacity 0.5s ease-in;
  }

  .top-icons{
    position: relative;
  
    .hori{
      border: 3px dashed #C1773A;
      border-radius: 0px 0px 10px 10px;
      width: 520px;
      height: 30px;
      border-top: none;
      position: absolute;
      top: 90px;
    }
    .verti1{
      border: 2px dashed #C1773A;
      border-radius: 0px 0px 10px 10px;
      width: 1px;
      height: 30px;
      border-top: none;
      position: absolute;
      left: 180px;
      top: 90px;
    }
    .verti2{
      border: 2px dashed #C1773A;
      border-radius: 0px 0px 10px 10px;
      width: 1px;
      height: 90px;
      border-top: none;
      position: absolute;
      top: 90px;
    }
    .verti3{
      border: 2px dashed #C1773A;
      border-radius: 0px 0px 10px 10px;
      width: 1px;
      height: 30px;
      border-top: none;
      position: absolute;
      right: 180px;
      top: 90px;
    }
  }

  .visible {
    opacity: 1;
  }
}

.top-icons,
.output {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.top-icons img,
.output img {
  margin: 0 10px;
  width: 100px;
  height: 100px;
  border: 3px solid transparent;
  transition: border 0.5s ease-in-out;
}

.output img {
  width: 70px;
  height: 70px;
}

.main-icon {
  margin: 20px 0;
}

.main-icon img {
  width: 160px;
  height: 160px;
  border: 3px solid transparent;
  transition: border 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.integration {
  .visible {
    opacity: 1;
    animation: fadeIn 1s ease-out;
  }



  .bottom-icons{
      position: relative;
    .hori{
      border: 3px dashed #C1773A;
      border-radius: 0px 0px 10px 10px;
      width: 800px;
      height: 30px;
      border-top: none;
      position: absolute;
      top: 100px;
      left: 100px;
    }
    .verti1{
      border: 2px dashed #C1773A;
      border-radius: 0px 0px 10px 10px;
      width: 1px;
      height: 30px;
      border-top: none;
      position: absolute;
      left: 370px;
      top: 100px;
    
    }
    .verti2{
      border: 2px dashed #C1773A;
      border-radius: 0px 0px 10px 10px;
      width: 1px;
      height: 30px;
      border-bottom: none;
      position: absolute;
      left: 635px;
      top: 100px;
    }

    .hori2{
      border: 3px dashed #C1773A;
      border-radius: 10px 10px 0px 0px;
      width: 800px;
      height: 30px;
      border-bottom: none;
      position: absolute;
      top: 15px;
      left: 100px;
    }
    .verti12{
      border: 2px dashed #C1773A;
      border-radius: 0px 0px 10px 10px;
      width: 1px;
      height: 30px;
      border-top: none;
      position: absolute;
      left: 370px;
      top: 15px;
    
    }
    .verti22{
      border: 2px dashed #C1773A;
      border-radius: 0px 0px 10px 10px;
      width: 1px;
      height: 30px;
      border-top: none;
      position: absolute;
      left: 635px;
      top: 15px;
    }
    .verti42{
      border: 2px dashed #C1773A;
      border-radius: 0px 0px 10px 10px;
      width: 1px;
      height: 80px;
      border-top: none;
      position: absolute;
      right: 500px;
      top: -65px;
    }
   
  }
}

/* Media queries for responsiveness */

/* Tablet */
@media (max-width: 768px) {
  .integration{
    display: none;
  }
  .top-icons img,
  .output img {
    width: 80px;
    height: 80px;
  }

  .main-icon img {
    width: 140px;
    height: 140px;
  }

  .output img {
    width: 60px;
    height: 60px;
  }
}

/* Phone */
@media (max-width: 480px) {
  .top-icons img,
  .output img {
    width: 60px;
    height: 60px;
  }

  .main-icon img {
    width: 100px;
    height: 100px;
  }

  .output img {
    width: 50px;
    height: 50px;
  }
}
