.outerdiv {
  width: 100%;
  height: 100vh;
  backdrop-filter: blur(8px); /* Adjust the blur value as needed */
  background-color: rgba(208, 203, 203, 0.116);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1000;
}
.innerdiv{
    background-color:  #FFFFFF;
    padding: 5%;
    margin-top: 5%;
    border-radius: 16px;
}
.textintro{
    font-weight: 600;

}
.input {
    border: 1px gray solid ;
}
.button{
    height: 48px;
    width: 174px;
    background-color: #201335;
    border-radius: 64px;
    align-items: center;
    padding: auto;
    justify-content: center;
    opacity: 60%;
}