$color1: #fff;
$color2: #fff;
$color3: #fff;

main {
    max-width: 1350px;
    margin: auto;
    .Elevate {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1350px;
    
        // gap: 50px;
        margin-top: 100px;
        margin: auto;



        &.row {
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
            margin-left: 0px;
         
        }

        

        &.row-rev {
            flex-direction: row-reverse;
            flex-wrap: wrap;
            justify-content: center;
            margin-right: 0px;
        }

        .left {
            background: #faf6ef;
            background: linear-gradient(to right, $color1, $color2, $color3);
            width: 50%;
            height: 386px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 16px;

            img {
                width: 80%;
                height: 289px;
                border-radius: 10px;
            }

            @media (max-width: 600px) {
                height: 280px;
            }

            @media (max-width: 400px) {
                height: 240px;
            }
        }

        .right {
            text-align: left;
            width: 426px;

            h1 {
                font-weight: 700;
                font-size: 32px;
            }

            p {
                line-height: 27px;
                width: 426px;
                font-size: 20px;
                margin-top: 20px;
                color: #575757;
            }
        }

        @media (max-width: 768px) {
            flex-direction: column;
            gap: 10px;
            margin-top: 50px !important;
            width: 100%;
            padding: 20px;

            .left,
            .right {
                width: 100%;
                text-align: center;

                img {
                    width: 80%;
                    height: auto;
                }
            }

            .right {
                h1 {
                    font-size: 28px;
                }

                p {
                    font-size: 18px;
                    width: 100%;
                }
            }
        }

        @media (max-width: 480px) {
            margin-top: 20px;

            .left,
            .right {
                width: 100%;
                text-align: center;

                img {
                    width: 80%;
                    height: auto;
                }
            }

            .right {
                h1 {
                    font-size: 24px;
                }

                p {
                    font-size: 16px;
                    width: 100%;
                }
            }
        }
    }
}