.impact-of-ekai-cont {
  max-width: 72.25rem;
  margin: auto;
  padding-top: 5rem;
  padding-bottom: 5rem;
  text-align: center;

  .ekai-cont-head {
    color: #7b4a23;
    font-size: 1.9375rem;
    font-weight: 600;
    line-height: normal;
  }

  .ekai-cont-sub-head {
    color: #1b2124;
    font-size: 1.5625rem;
    font-weight: 600;
    line-height: normal;
    margin-top: 3.5rem;
    margin-bottom: 7.75rem;
  }

  .flex-container {
    max-width: 57.375rem;
    margin: auto;
    gap: 4rem;
  }

  .imapct-ekai-card {
    position: relative;
    border-radius: 2.25rem;
    background: #faf6ef;
    padding: 6rem 2.5rem 3rem 2.5rem;
  }

  .img-container {
    position: absolute;
    left: 0;
    right: 0;
    top: -2.75rem;
  }

  .imapct-ekai-card p {
    color: #1b2124;
    font-size: 1.25rem;
    line-height: 1.875rem;
  }

  .mt-112 {
    margin-top: 7rem;
  }
}
