// StickyAnimation.scss

.sticky-animation-container {
  display: flex;
  flex-direction: row-reverse;
  height: 235vh;
  padding-bottom: 300px;
  gap: 50px;
  align-items: start;
  justify-content: center;

  @media (max-width: 768px) {
    // Tablet and smaller screens
    flex-direction: column;
    gap: 30px;
    padding-bottom: 150px;
  }

  @media (max-width: 480px) {
    // Mobile screens
    gap: 20px;
    padding-bottom: 100px;
  }
}

.sticky-section {
  position: sticky;
  top: 200px;
  bottom: 300px;
  width: 700px;
  height: 300px;
  transition: background 0.3s, transform 0.3s;

  h2 {
    margin: 0;
  }

  img {
    width: 700px;
    border-radius: 30px;

    @media (max-width: 768px) {
      width: 100%;
    }

    @media (max-width: 480px) {
      width: 100%;
      border-radius: 0px;
    }
  }

  @media (max-width: 768px) {
    width: 100%;
  }

  @media (max-width: 480px) {
    top: 100px;
    bottom: 150px;
  }
}

.section {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 60vh;
  padding: 20px;

  h3 {
    margin-top: 0;
  }

  h4 {
    font-size: 20px;
  }

  h2 {
    color: rgba(52, 57, 50, 1);
    font-size: 29px;
  }

  p {
    color: var(--Secondary-Gray-2, rgba(97, 96, 97, 1));
    font-size: 20px;
  }

  @media (max-width: 768px) {
    width: 100%;
    padding: 15px;

    h2 {
      font-size: 26px;
    }

    p {
      font-size: 18px;
    }
  }

  @media (max-width: 480px) {
    width: 100%;
    padding: 10px;

    h2 {
      font-size: 22px;
    }

    p {
      font-size: 16px;
    }
  }
}