
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
   font-family: "Manrope", sans-serif;
}

body {
   font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 500;
}

/* Shared */

.flex-row {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.cursor-pointer {
  cursor: pointer;
}

.align-center {
  text-align: center;
}

.ElevateYourWorkflowHome{
display: none;
}
.StickyAnimationHome{
  display: block;
}

@media screen and (max-width: 700px) {
  .ElevateYourWorkflowHome{
    display: block;
    }
    .StickyAnimationHome{
      display: none;
    }
}

