.benefits-main {
    background: #FAF6EF;
    
    // src/Benefits.scss
    .benefits-container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 80px 0px 80px 0px;
        // background-color: #f9f9f9;
        max-width: 1250px;
        margin: auto;
        height: 310px;
    }

    .benefit-item {
        text-align: center;
        max-width: 320px;
    }

    .icon {
        font-size: 40px;
        margin-bottom: 10px;
        img{
            width: 96px;
            height: 96px;
        }
    }

    .text h3 {
        font-size: 30px;
        font-weight: normal;
        color: #333;
        font-weight: 500;
        line-height: 43px;
    }

}