// src/JoinOurTeam.scss
.join-our-team {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    max-width: 1250px;
    margin: auto;
    margin-top: 50px;
    padding: 0 20px;

    @media (min-width: 768px) {
        flex-direction: row;
        gap: 40px;
    }

    .header {
        margin-bottom: 40px;

        h1 {
            font-size: 2em;
            font-weight: 600;
            margin-bottom: 20px;
            color: #000000;
            line-height: 1.2;
            margin-top: 30px;

            @media (min-width: 768px) {
                font-size: 2.5em;
            }
        }

        p {
            font-size: 1em;
            line-height: 1.4;
            max-width: 100%;
            margin-top: 20px;
            margin-bottom: 20px;
            font-weight: normal;

            @media (min-width: 768px) {
                font-size: 1.2em;
                max-width: 480px;
                margin-top: 40px;
                margin-bottom: 40px;
            }
        }

        .resume-button {
            background-color: #C87C3C;
            color: white;
            border: none;
            padding: 10px 20px;
            font-size: 1em;
            cursor: pointer;
            border-radius: 50px;

            @media (min-width: 768px) {
                padding: 15px 20px;
            }
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @media (min-width: 768px) {
            flex-direction: row;
            justify-content: space-between;
        }

        img {
            width: 100%;
            max-width: 480px;
            height: auto;
            border-radius: 10px;
        }
    }
}

.openings {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 40px 0px;
    padding: 0 20px;

    h2 {
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 20px;
    }

    .opening-div {
        display: flex;
        flex-direction: column;
        gap: 30px;

        @media (min-width: 768px) {
            flex-direction: row;
        }
    }

    .opening {
        margin-bottom: 20px;

        h3 {
            font-size: 20px;
            font-weight: normal;
            margin-bottom: 10px;
        }

        p {
            font-size: 20px;
            font-weight: normal;
            margin-bottom: 10px;
        }

        .join-button {
            background-color: #C87C3C;
            color: white;
            border: none;
            padding: 10px 20px;
            font-size: 1em;
            cursor: pointer;
            border-radius: 50px;
            margin-top: 10px;

            @media (min-width: 768px) {
                padding: 15px 20px;
            }
        }
    }
}
